<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/blimp.css">
<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
<link rel="stylesheet" type="text/css" href="/assets/css/layout.css">
<link rel="stylesheet" type="text/css" href="/assets/css/app.css">
<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
<!--[if IE 7]>
  <link rel="stylesheet" href="/assets/css/font-awesome-ie7.min.css">
<![endif]-->
<!--[if gt IE 6]>
  <link rel="stylesheet" href="/assets/css/ie.css"
<![endif]-->