<meta charset="utf-8">
<link rel="author" href="humans.txt" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

<!--CDN HOSTED SCRIPTS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!--LOCAL HOSTED SCRIPTS -->
<link rel="stylesheet" href="/assets/css/mfs-custom.css">
<link rel="stylesheet" href="/assets/css/breakpoints.css">

<!--[if !IE 7]>
	<style type="text/css">#wrap {display:table;height:100%}</style>
<![endif]-->
<!--[if IE 7]>
  <link rel="stylesheet" href="/assets/css/font-awesome-ie7.min.css">
<![endif]-->
<link rel="shortcut icon" href="favicon.ico">